.plan_tasks__add {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  min-width: 0;
}

.plan_tasks__add_category {
  flex: 0 0 auto;
  width: 120px;
  min-width: 0;

  @media (max-width: 400px) {
    width: 80px;
  }
}

.plan_tasks__add_description {
  flex: 1;
  min-width: 0;
}

.plan_tasks__add button {
  flex-shrink: 0;
}