.plan_task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.5rem 0.5rem 0;
  cursor: grab;

  // Плавный hover
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);  // лёгкий серый
  }

  &:active {
    cursor: grabbing;
  }
}

.plan_task__dragging {
  opacity: 0.5;
}

.plan_task__drag_over {
  border-top: 1px solid rgba(200, 0, 0, 0.6);
  background: rgba(0, 123, 255, 0.1);
}

.plan_task__category {
  width: 120px;
  opacity: 0.7;
  padding: 0 0.5rem;
}

.plan_task__description {
  flex: 1;
  opacity: 0.7;
  padding: 0 0.5rem;
}

.plan_task_input {
  width: 100%;                    // ✅ Занимает всю ширину родителя
  box-sizing: border-box;         // ✅ Включает padding/border в ширину
  font-size: inherit;             // Наследует размер шрифта
  line-height: 1.7;
}

.plan_task__count {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;                /* круг */
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: inline-flex;             /* центрирование цифры */
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  line-height: 1;
  flex: 0 0 2rem;                   /* если это внутри flex-строки, чтобы не сжималось */
}