:root {
    --background_color: #ffffff;
    --main-color: #d04643;
    --timer_font_color: #ffffff;
    --border-color: #000000;
}

/* Application */

.app {
    font-family: "SF Pro Light", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background_color);
}

/* Header */

.header {
    display: flex;
    border-bottom: var(--main-color) 1px solid;
    padding: 0 0.25rem;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

/* Logo  */

.logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.logo__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.logo__label {
    display: inline-block;
    font-weight: normal;
    font-size: 1.25rem;
}

/* main */

.main {
    flex: 1;
}

/* timer area */

.timer_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: var(--main-color);
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    gap: 0.5rem;
    font-weight: lighter;
}

.timer_area__navigation {
    display: flex;
    padding: 0.5rem;
    width: 100%;
}

.timer_area__timer {
    color: var(--timer_font_color);
    font-size: 5rem;
    line-height: 0.75;
}

.timer_area__description {
    color: var(--timer_font_color);
    opacity: 0.8;
    font-size: 1rem;
    margin-inline: auto;
}

.timer_area__buttons {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-inline: auto;
}

/* Plan tasks */

.plan_tasks {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.plan_tasks__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

/* линия посередине по вертикали */
.plan_tasks__title::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;      /* или var(--timer_font_color) и т.п. */
    opacity: 0.1;                /* “полупрозрачная” линия */
}

/* чтобы элементы внутри были выше линии */
.plan_tasks__title > *{
    position: relative;
    z-index: 1;
    background: var(--background_color);  /* фон, чтобы линия не проходила через буквы */
    padding-inline: 0.5rem;       /* небольшой “разрыв” линии вокруг текста */
}

.plan_tasks__title_desc {

}

.plan_tasks__title_tasks_count {

}

.plan_tasks__title_tasks_divider {
    font-size: 0.85rem;
}

.plan_tasks__title_tasks_time {
    font-size: 0.85rem;
}

/*
.plan_tasks__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    opacity: 0.5;
}

.plan_tasks__header_category {
    flex: 0 0 120px;
}

.plan_tasks__header_description {
    flex: 1;
}
 */

.plan_tasks__add {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.plan_tasks__add_category {
    flex: 0;
    width: 120px;
}

.plan_tasks__add_description {
    flex: 1;
}

.plan_tasks__list {
    margin-top: 0.5rem;
}

ul.plan_tasks__list_lst {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan_task {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
}

.plan_task__category {
    width: 120px;
    opacity: 0.7;
}

.plan_task__description {
    flex: 1;
    opacity: 0.7;
}

.plan_task__count {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;                /* круг */
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: inline-flex;             /* центрирование цифры */
    align-items: center;
    justify-content: center;

    font-size: 0.875rem;
    line-height: 1;
    flex: 0 0 2rem;                   /* если это внутри flex-строки, чтобы не сжималось */
}

.plan_task__button {
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.plan_tasks__statistics {
    display: flex;
    flex-direction: column;
}

.plan_tasks__statistics_title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    opacity: 0.75;
}

/* линия посередине по вертикали */
.plan_tasks__statistics_title::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;      /* или var(--timer_font_color) и т.п. */
    opacity: 0.1;                /* “полупрозрачная” линия */
}

/* чтобы элементы внутри были выше линии */
.plan_tasks__statistics_title > *{
    position: relative;
    z-index: 1;
    background: var(--background_color);  /* фон, чтобы линия не проходила через буквы */
    padding-inline: 0.5rem;       /* небольшой “разрыв” линии вокруг текста */
}

.plan_tasks__statistics_title_time {
    text-decoration: underline;
}

.plan_tasks__statistics_categories {
    display: flex;
    opacity: 0.7;
}

.plan_tasks__statistics_categories_list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.plan_tasks__statistics_categories_item {
    border: 1px solid var(--main-color);
    padding: 0 0.25rem;
}

/* Archive tasks */

.archive_tasks {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.archive_tasks__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    opacity: 0.75;
}

/* линия посередине по вертикали */
.archive_tasks__title::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;      /* или var(--timer_font_color) и т.п. */
    opacity: 0.1;                /* “полупрозрачная” линия */
}

/* чтобы элементы внутри были выше линии */
.archive_tasks__title > *{
    position: relative;
    z-index: 1;
    background: var(--background_color);  /* фон, чтобы линия не проходила через буквы */
    padding-inline: 0.5rem;       /* небольшой “разрыв” линии вокруг текста */
}

.archive_tasks__title_tasks_time {
    font-size: 0.825rem;
}

.archive_tasks__header {
    display: flex;
    flex-direction: row;
    opacity: 0.75;
    font-size: 0.75rem;
}

.archive_tasks__header_category {
    flex: 0 0 120px;
}

.archive_tasks__header_description {
    flex: 1;
}

.archive_tasks__list {
    margin-top: 0.5rem;
}

.archive_task {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    opacity: 0.75;
}

.archive_task__category {
    flex: 0 0 120px;
}

.archive_task__description {
    flex: 1;
}

.archive_tasks__statistics_categories {
    display: flex;
    opacity: 0.7;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
}

.archive_tasks__statistics_categories_list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.archive_tasks__statistics_categories_item {
    border: 1px solid var(--main-color);
    padding: 0 0.25rem;

}

/* footer */

.footer {
    padding: 0.5rem;
    border-top: 1px solid var(--main-color);
}

.container {
    max-width: 950px;
    margin-inline: auto;
}

/* чуть больше воздуха на крупных экранах */
@media (min-width: 768px){
    .container{
        padding-inline: 1.5rem;
    }
}

/* buttons */

.button {
    cursor: pointer; /* рука */
    transition: background-color 150ms ease, color 150ms ease, border-color 150ms ease;
    width: 2rem;
    height: 2rem;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.12); /* лёгкое затемнение */
}

.settings_button {
    background: #000;
}

.timer_button {
    width: 200px;
    background-color: transparent;
    font-size: 1rem;
    color: var(--timer_font_color);
    opacity: 0.8;
    border: 1px solid var(--timer_font_color);
    padding: 0.25rem;
}

.plan_tasks__button {
    background-color: #fff;
    border: 1px solid var(--main-color);
}

h1 {
    margin: 0 0 0.75rem;
    font-size: 2.25rem;
    letter-spacing: -0.02em;
}