:root {
    --task-row-padding: 0.5rem;
    --background_color: #ffffff;
    --main-color: #d04643;
    --break-color: #00A131;
    --timer_font_color: #ffffff;
    --border-color: #000000;
    --divider-line-color: #000000;
    --divider-line-height: 1px;
    --border-subtle: rgba(0, 0, 0, 0.1);
    --target-achieved-color: #0d7a2d;
}